<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hcsd/printer.css' %}">
</head>
<body>
    <div class="main">    
        <div class="header">
            <h1 class="printer-h1"> تصريح مزاولة نشاط مكافحة افات الصحة العامة  </h1>
        </div>
        <div class="table-wrap">
            <table class="printer-table">
                <colgroup>
                    <col style="width: 17.5%;">
                    <col style="width: 65%;">
                    <col style="width: 17.5%;">
                </colgroup>
                <tr>
                    <th class="table-main-header" colspan="3">  <p> Public Health Pest Control Company </p> <p>شركة مكافحة افات الصحة العامة  </p></th>
                </tr>
                <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
                <tr>
                    <td class="colone"> رقم الرخصة </td>
                    <td class="coltow">  123456789 </td>
                    <td class="colthree">license number </td>
                </tr>
                <tr>
                    <td class="colone">  تاريخ انتهاء التصريح</td>
                    <td class="coltow">  2025-12-31 </td>
                    <td class="colthree">expiry date </td>
                </tr>
                <tr>
                    <td class="colone">الموقع </td>
                    <td class="coltow">  الشارقة - بوطينة - خلف شارع الشرق - محل رقم 1</td>
                    <td class="colthree">Adress </td>
                </tr>
                <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
                 <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
                 <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
                 <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
                 <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
                 <tr>
                    <td class="colone">الاسم التجاري </td>
                    <td class="coltow">  مؤسسة رويال لمكافحة الحشرات </td>
                    <td class="colthree">company name </td>
                </tr>
            </table>
        </div>
        <img class="frame" src="{% static 'hcsd/gg.jpeg' %}" alt="dfsdfsd">
    </div>


</body>
</html>
